<!DOCTYPE html>
{% load static%}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/modernbusiness.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="main">Екатеринбург ТрансАвто</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="about">О компании</a>
            </li>
			<li class="nav-item">
              <a class="nav-link" href="contact">Контакты</a>
            </li>
			 <li class="nav-item">
              <a class="nav-link" href="404">Наш автопарк </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="404">Калькулятор цен</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">
        <small></small>
      </h1>

      <!-- Intro Content -->
      <div class="row">
        <div class="col-lg-6">
          <img class="img-fluid rounded mb-4" src="{% static 'images/photo2.jpg' %}"  alt="image">
        </div>
        <div class="col-lg-6">
          <h2>О компании</h2>
          <p>Наша компания более 10 лет специализируется на грузоперевозках не только по Уральскому Федеральному округу, но и по России. Мы зарекомендовали себя как серьезные  партнеры, способные четко и отлажено выполнять свои функции.</p>
          <p>Наличие собственного автопарка рефрижераторов ( от 1,5 до 20 тонн) позволяет нам оперативно решать поставленные задачи.</p>
          <p> Мы имеем большой опыт работы по развозу продуктов питания по городу Екатеринбургу и Свердловской области. Обращаем ваше внимание, что транспорт,  предназначенный для перевозки продуктов питания, имеет санитарную обработку кузова, а все водители медицинские книжки. </p>
		  <p> ООО "ЕкатеринбургТрансАвто" находится на общей системе налогообложения и является плательщиком НДС.</p>

		</div>
      </div>
      <!-- /.row -->
      <!-- Our Customers -->
      <h2>Наши клиенты</h2>
      <div class="row">
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Екатеринбург ТрансАвто 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>
